flows.json
[{"id":"fc08ebec.b00298","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f76ecd9.6b9ca","type":"function","z":"fc08ebec.b00298","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"I1CY7jKycHThczrPJIgStiYMFbm_lnpIoLjX22TdV6-k\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":271.50000762939453,"y":397.0000057220459,"wires":[["344e9d63.ed07f2"]]},{"id":"344e9d63.ed07f2","type":"http request","z":"fc08ebec.b00298","name":"Sathish Project","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":true,"proxy":"","authType":"","x":455.50000762939453,"y":397.2500057220459,"wires":[["5f95f214.b30e2c"]]},{"id":"61d217b6.72a518","type":"debug","z":"fc08ebec.b00298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1119.9166221618652,"y":195.0833330154419,"wires":[]},{"id":"5f95f214.b30e2c","type":"function","z":"fc08ebec.b00298","name":"Pre Prediction","func":"var pg = global.get('pg')\nvar ps = global.get('ps')\nvar pr = global.get('pr')\nvar sk = global.get('sk')\nvar ts = global.get('ts')\nvar ms = global.get('ms')\nvar pd = global.get('pd')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"b2d16813-5a71-4945-8339-82545bfc639b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[pg,ps,pr,sk,ts,ms,pd,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":652.5000076293945,"y":397.7500057220459,"wires":[["2bd1482c.019428"]]},{"id":"2bd1482c.019428","type":"http request","z":"fc08ebec.b00298","name":"Sathish Project","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/5cd28ede-497b-4c83-8db8-fd06ddb9f82a/predictions","tls":"","persist":true,"proxy":"","authType":"","x":857.2500152587891,"y":398.0000057220459,"wires":[["6b97a83c.d50068","61d217b6.72a518"]]},{"id":"5958cc5a.df3fc4","type":"ui_form","z":"fc08ebec.b00298","name":"","label":"","group":"e9a38cac.83b07","order":0,"width":0,"height":0,"options":[{"label":"Preg","value":"pg","type":"number","required":true,"rows":null},{"label":"Plas","value":"ps","type":"number","required":true,"rows":null},{"label":"Pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"Test","value":"ts","type":"number","required":true,"rows":null},{"label":"Mass","value":"ms","type":"number","required":true,"rows":null},{"label":"Pedi","value":"pd","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pg":"","ps":"","pr":"","sk":"","ts":"","ms":"","pd":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":123.75000381469727,"y":397.5000057220459,"wires":[["8f76ecd9.6b9ca"]]},{"id":"2cef12bd.a0701e","type":"ui_text","z":"fc08ebec.b00298","group":"e9a38cac.83b07","order":1,"width":0,"height":0,"name":"","label":"Disease occur(1) Disease not occur(0)","format":"{{msg.payload}}","layout":"row-spread","x":1044.1000518798828,"y":546.4500188827515,"wires":[]},{"id":"6b97a83c.d50068","type":"function","z":"fc08ebec.b00298","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":853.3500366210938,"y":271.3500061035156,"wires":[["2cef12bd.a0701e"]]},{"id":"e9a38cac.83b07","type":"ui_group","z":"","name":"Diabetes Mellitus Prediction","tab":"aa8983e.fd4288","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa8983e.fd4288","type":"ui_tab","z":"","name":"Sathish Project","icon":"dashboard","disabled":false,"hidden":false}]